{% extends "base.html" %}

{% block content %}

<div class=" card card-login shadow-sm" style="margin-bottom: 100px;">
    <div class="card-body">
        <h1 class="card-title text-center">Login</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
            <a href="{% url 'register' %}" class="btn btn-secondary btn-block">Register</a>
        </form>
    </div>
</div>
{% endblock %}
