{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-lg mx-auto">
        <div class="card-body">
            <h1 class="mb-4">تفاصيل المستخدم: {{ user.username }}</h1>

            <div>
                {% for questionnaire in questionnaires %}
                <div class="mb-4">
                    <h2 class="mb-3">الاستبيان</h2>
                    <ul class="list-group mb-2">
                        <li class="list-group-item">
                            <strong>المعدل الثانوي:</strong> {{ questionnaire.high_school_gpa }}
                        </li>
                        <li class="list-group-item">
                            <strong>المنطقة:</strong> {{ questionnaire.region_str }}
                        </li>
                        <li class="list-group-item">
                            <strong>السكن المفضل:</strong> {{ questionnaire.preferred_living_str }}
                        </li>
                        <li class="list-group-item">
                            <strong>عوامل الاختيار:</strong> {{ questionnaire.choice_factors_str }}
                        </li>
                        <li class="list-group-item">
                            <strong>أكبر الصعوبات:</strong> {{ questionnaire.biggest_difficulty_str }}
                        </li>
                        <li class="list-group-item">
                            <strong>المواد المفضلة:</strong> {{ questionnaire.preferred_subjects_str }}
                        </li>
                        <li class="list-group-item">
                            <strong>المواد غير المفضلة:</strong> {{ questionnaire.disliked_subjects_str }}
                        </li>
                        <li class="list-group-item">
                            <strong>نوع الجامعة:</strong> {{ questionnaire.university_type_str }}
                        </li>
                        <li class="list-group-item">
                            <strong>مدة الدراسة المفضلة:</strong> {{ questionnaire.preferred_study_duration_int }}
                        </li>
                    </ul>

                    <h3 class="mt-4">التوقعات </h3>
                    <ul class="list-group">
                        {% for prediction in predictions %}
                        {% if prediction.questionnaire.id == questionnaire.id %}
                                    
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>
                                التخصصات المقترحة:
                                <ul>
                                    <li>{{ prediction.recommended_branches }}</li>
                                  
                                </ul>
                            </span>
                        </li>
                          {% endif %}
                          {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
