{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-lg mx-auto">
        <div class="card-body">
            <h1 class="mb-4">تفاصيل المستخدم: {{ user.username }}</h1>

            <div>
                {% for questionnaire in questionnaires %}
                <div class="mb-4">
                    <h2 class="mb-3">الاستبيان</h2>
                    <ul class="list-group mb-2">
                        <li class="list-group-item">
                            <strong>المعدل الثانوي:</strong> {{ questionnaire.high_school_gpa }}
                        </li>
                        <li class="list-group-item">
                            <strong>المنطقة:</strong> {{ questionnaire.region}}
                        </li>
                        <li class="list-group-item">
                            <strong>السكن المفضل:</strong> {{ questionnaire.preferred_living}}
                        </li>
                        <li class="list-group-item">
                            <strong>عوامل الاختيار:</strong> {{ questionnaire.choice_factors}}
                        </li>
                        <li class="list-group-item">
                            <strong>أكبر الصعوبات:</strong> {{ questionnaire.biggest_difficulty}}
                        </li>
                        <li class="list-group-item">
                            <strong>المواد المفضلة:</strong> {{ questionnaire.preferred_subjects}}
                        </li>
                        <li class="list-group-item">
                            <strong>المواد غير المفضلة:</strong> {{ questionnaire.disliked_subjects}}
                        </li>
                        <li class="list-group-item">
                            <strong>نوع الجامعة:</strong> {{ questionnaire.university_type}}
                        </li>
                        <li class="list-group-item">
                            <strong>مدة الدراسة المفضلة:</strong> {{ questionnaire.preferred_study_duration }}
                        </li>
                    </ul>

                    <ul class="list-group">
                        {% for prediction in predictions %}
                        {% if prediction.questionnaire.id == questionnaire.id %}
                                    
                    <h3 class="mt-4">التوقعات </h3>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>
                                التخصصات المقترحة:
                                <a class="btn btn-outline" href="/predict/result/{{ prediction.id  }}">النتيجة</a>

                            </span>
                        </li>
                          {% endif %}
                          {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
